html, body {
    background-color:#EDF2EF;
    margin: 0;
    padding: 0;
    height: 100%;
}

#click-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 9998;
    pointer-events: auto;
}

#page-overlay-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9997;
    pointer-events: none;
}

#clearFormStyle,
#xSelect, #rSelect, #inputY,
#buttonSend, #buttonClearHistory {
    position: relative;
    z-index: 9999;
}

input[type="number"], #xSelect, #rSelect {
    background-color: rgba(169, 169, 169, 0.5);
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}

#inputY {
    width: 150px;
}

#inputY::placeholder {
    text-align: center;
}

div h1 {
    color: #00008B;
}

.header {
    font-family: cursive;
    margin-top: 10px;
    background-color: #94C5CC;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 30px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

#graphic {
    margin-top: 3%;
    position: relative;
    z-index: 1;
}

#graphicInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

#formStyle,
#clearFormStyle {
    font-family: sans-serif;
    font-size: 25px;
    color: #000000;
    margin-top: 0;
    position: relative;
    z-index: 9999;
}

#resultsTable {
    border: 2px solid #000000;
    border-collapse: collapse;
    width: calc(100% - 700px);
    font-family: sans-serif;
    background-color: #94C5CC;
    word-break: break-word;
    position: relative;
    z-index: 1;
    margin: 20px auto 40px auto;
    padding: 10px;
}

td, th {
    border: 2px solid #000000;
    min-width: 110px;
    text-align: center;
    padding: 15px 18px;
}

#textResults {
    font-family: sans-serif;
    position: relative;
    z-index: 1;
    margin-left: 350px;
}

#buttonSend,
#buttonClearHistory {
    padding: 30px;
    font-size: 25px;
    position: relative;
    z-index: 10000;
}

#buttonSend {
    background-color: rgba(169, 169, 169, 0.5);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#buttonSend:hover {
    background-color: rgba(169, 169, 169, 1.0);
}

#buttonClearHistory {
    background-color: rgba(255, 0, 0, 0.2);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#buttonClearHistory:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

#coordinates,
#rValue {
    color: #A1A6B4;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.textSvg,
.textSvg2,
.textSvgM,
.textSvgM2,
.textSvgAxes {
    user-select: none;
}

#name::before {
    content: "ФИО: ";
}

* {
    user-select: none;
}

#svg-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    z-index: 1;
}

#graph-svg {
    position: relative;
    z-index: 1;
}

circle {
    pointer-events: none;
}

#resultsTable tr {
    background-color: #94C5CC;
    position: relative;
    z-index: 1;
}

#resultsTable td,
#resultsTable th {
    background-color: inherit;
    position: relative;
    z-index: 2;
}

td, th {
    border: 2px solid #000000;
    min-width: 110px;
    text-align: center;
    padding: 15px 18px;
}

* {
    pointer-events: none;
}

button,
input,
select,
option,
#xSelect,
#rSelect,
#inputY,
#buttonSend,
#buttonClearHistory {
    pointer-events: auto;
}

#click-overlay {
    pointer-events: auto;
}

#page-overlay-svg {
    pointer-events: none;
}
